@{
    ViewData["Title"] = "Página Inicial";
}

<div class="container">
    <h1 class="text-center my-4">Crie ou Entre em uma Sala de Estimativas</h1>

    <!-- Criar uma nova sala -->
    <div class="text-center my-3">
        <h2>Criar uma nova sala</h2>
        <form asp-action="CriarSala" method="post" class="d-inline-block">
            <div class="mb-3">
                <input type="text" name="nomeCriador" class="form-control" placeholder="Digite seu nome" required />
            </div>
            <button type="submit" class="btn btn-primary">Criar Sala</button>
        </form>
    </div>

    <!-- Entrar em uma sala existente -->
    <div class="text-center my-5">
        <h2>Entrar em uma sala existente</h2>
        <form asp-action="EntrarSala" method="post" class="d-inline-block">
            <div class="mb-3">
                <input type="text" name="id" class="form-control" placeholder="ID da sala" required />
            </div>
            <div class="mb-3">
                <input type="text" name="nome" class="form-control" placeholder="Seu nome" required />
            </div>
            <div class="mb-3">
                <select name="tipoUsuario" class="form-select" required>
                    <option value="" disabled selected>Selecione</option>
                    <option value="1">DEV</option>
                    <option value="2">QA</option>
                </select>
            </div>
            <button type="submit" class="btn btn-success">Entrar</button>
        </form>
    </div>
</div>
